<div id="spacer" style="min-height:10px"></div>

<div class="row-fluid">	
	<p class="offset1 span3"><i class="icon-home icon-large cmap-header-link" onclick="window.location.href = 'http://apps.lincscloud.org';"></i></p>
	<div class="span4">
		<p class="cmap-brand-text cmap-center-text">the connectivity map</font>
		<h3 class="cmap-title-text cmap-center-text">{{ title }}</h3>
	</div>
	<div class="span3">
		<p class="offset1 span3 pull-right">
			<i class="icon-signout icon-large cmap-header-link"></i>
			<i class="icon-cog icon-large cmap-header-link"></i>
			<i data-toggle="modal" data-target="#aboutModal" class="icon-info-sign icon-large cmap-header-link"></i></p>
		<!-- <img src="../../img/cmap_broad_logo_small.png" class="pull-right" alt="" style="max-height: 49pt; "> -->
	</div>
</div>

<div class="row-fluid">
	<p class="offset1 span10 muted cmap-subhead-text cmap-center-text">{{ subtitle }}</p>
</div>

  <!-- Modal -->
<div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3 id="aboutModalLabel">About the Connectivity Map</h3>
  </div>
  <div class="modal-body">
    <p>The Connectivity Map (or CMap) is a catalog of gene-expression data collected from human cells treated with chemical compounds and genetic reagents. Computational methods to reduce the number of necessary genomic measurements along with streamlined methodologies enable the current effort to significantly increase the size of the CMap database and along with it, our potential to connect human diseases with the genes that underlie them and the drugs that treat them.</p>

    <p>CMap intends to accelerate the discovery process by systematically revealing connections between genes/compounds discovered in screens and molecular pathways that underlie disease states. The goal is to turn basic discoveries into drugs and diagnostics that have therapeutic impact.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>