<div class="input-append span10">
	<input class="span12" autocomplete="off" type="text" placeholder="search gene, compound, or cell type name; separate compound searches with :" data-provide="typeahead" id="search">
	<span class="add-on">Search 1,209,824 profiles</span>
</div>