<div class="input-group col-lg-12">
	<input class="typeahead form-control" autocomplete="off" type="text" placeholder="search gene, compound, or cell type name; separate compound searches with :" data-provide="typeahead" id="search">
	<span class="input-group-addon">Search Connectivity Map</span>
</div>
