<div id="{{ div_string }}" class="cmap-card">
    <a href="{{url}}">
        <div class='cmap-card-title'>
            {{ title }}
            <p class="cmap-card-subtitle">
                {{ subtitle }}
            </p>
        </div>
    </a>
</div>
