<div id="spacer" style="min-height:10px"></div>

<div class="row">
                 		<p class="col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1"><i class="fa fa-home fa-lg cmap-header-link" onclick="window.location.href = 'http://apps.lincscloud.org';"></i></p>
                 		<div class="col-lg-8 col-md-8 col-sm-8">
                 			<p class="cmap-brand-text cmap-center-text">lincscloud</font>
                 			<h3 class="cmap-title-text cmap-center-text">{{ title }}</h3>
                 		</div>
                 		<div class="col-lg-1 col-md-1 col-sm-1">
                 			<p class="pull-right">
                 				<i data-toggle="modal" href="#aboutModal" class="fa fa-info-circle fa-lg cmap-header-link"></i></p>
                 		</div>
</div>

<div class="row">
	<p class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 text-muted cmap-subhead-text cmap-center-text">{{ subtitle }}</p>
</div>

<!-- Modal -->
<div class="modal fade" id="aboutModal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">About The Connectivity Map</h4>
    </div>
    <div class="modal-body">
      <p>The Connectivity Map (or CMap) is a catalog of gene-expression data collected from human cells treated with chemical compounds and genetic reagents. Computational methods to reduce the number of necessary genomic measurements along with streamlined methodologies enable the current effort to significantly increase the size of the CMap database and along with it, our potential to connect human diseases with the genes that underlie them and the drugs that treat them.</p>

      <p>CMap intends to accelerate the discovery process by systematically revealing connections between genes/compounds discovered in screens and molecular pathways that underlie disease states. The goal is to turn basic discoveries into drugs and diagnostics that have therapeutic impact.</p>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
