.cmap-header {
    position: relative;
    z-index: 999;
}

.cmap-header-app-name{
    font-family: 'Open Sans',Cambria,serif;
    font-size: 1.714285714em;
    font-weight: 700;
    color: #fff;
    border-bottom: 5px solid #999999;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    top: 8px;
    margin-left: 10px;
    &:before{
        content: " ";
        position: absolute;
        z-index: 0;
        top: 0px;
        left: -4px;
        right: -4px;
        bottom: -9px;
        border: 1px solid white;
    }
}

.cmap-header-link-no-border {
    font-family: 'Roboto Slab', Cambria, serif;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.54;
    position: relative;
    top: 14px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    &:hover{
        opacity: 0.87;
    }
}

.cmap-header-subtitle{
    font-family: 'Roboto Slab', Cambria, serif;
    font-size: 1em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: 18px;
    opacity: 0.54;
    cursor: default;
}

.cmap-header-link {
    @extend .cmap-header-link-no-border;
    border-left: white solid 2px;
}

.cmap-header-sublink {
    color: #FF9B7A;
    &:hover{
        opacity: 0.87;
    }
}

.cmap-header-username {
    font-family: 'Roboto Slab', Cambria, serif;
    font-size: 20px;
    color: white;
    opacity: 0.87;
    cursor: default;
    position: relative;
    padding-right: 10px;
    top: 10px;
}

.cmap-header-image {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.cmap-header-toolbar {
  background: #2B2B2B;
  min-height: 60px;
}
